
<div class="shadow-xl/30 bg-white-light flex flex-col justify-center align-middle m-10 p-5 border border-solid border-black rounded-xl w-lg">
  <div class="flex-auto flex-row">
    <p class="text-xl w-full">E-mail</p>
    <input class="shadow-xl/15 hover:shadow-xl/30 w-full bg-white border border-black justify-center rounded-md" type="email" [(ngModel)]="email">
  </div>
  <div class="flex-auto flex-row">
    <p class="w-full text-xl">Password</p>
    <input class="shadow-xl/15 hover:shadow-xl/30 w-full bg-white border border-black justify-center rounded-md" type="password" [(ngModel)]="password">
  </div>
  <button class="shadow-xl/15 hover:shadow-xl/30 rounded-md bg-gray-700 hover:bg-green-700 hover:cursor-pointer mt-2 text-white"
  (click)="onSubmit(email, password)">Login</button>
</div>
